.low {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.veryHigh {
    background-color: red;
}

.extreme {
    background-color: purple;
}